@model IEnumerable<AdminSalesPortal.Models.TeamModel>
@{
   
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        /* CSS for alternating row colors */
        .table-striped tbody tr:nth-of-type(odd) {
            background-color: #f9f9f9; /* Set background color for odd rows */
        }

        .table-striped tbody tr:nth-of-type(even) {
            background-color: #ffffff; /* Set background color for even rows */
        }

        /* CSS for vertical line */
        .table-striped tbody tr td {
            border-right: 1px solid #ddd; /* Add vertical line */
        }

            .table-striped thead th:last-child,
            .table-striped tbody tr td:last-child {
                border-right: none; /* Remove vertical line from last column */
            }
    </style>
</head>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title" id="ProjectMaster-title">
                            <h4><b>Team</b></h4>
                        </div>
                        <div class="float-sm-right">
                            <!-- Show the button on desktop screens -->
                            <a class="btn btn-primary d-none d-sm-block text-bold" href="@Url.Action("CreateTeam","Home")"><i class="fa fa-plus"></i> &nbsp; Create New </a>
                        </div>
                    </div>

                    <div class="card-body">
                        <div style="overflow-x:auto;">
                            <div class="d-sm-none mb-2">
                                <a class="btn btn-primary btn-block text-bold" href="@Url.Action("CreateTeam","Home")"><i class="fa fa-plus"></i> &nbsp; Create New </a>
                            </div>
                            <table id="teamTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            Team Name
                                        </th>
                                        <th>
                                            Description
                                        </th>
                                        <th>
                                            Created Date
                                        </th>
                                        <th>
                                            Updated Date
                                        </th>
                                        <th>
                                             Action
                                        </th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.sTeamName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.sDescription)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.dtCreatedDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.dtUpdatedDAte)
                                            </td>
                                            <td>
                                                <a href="@Url.Action("EditTeam", "Home", new { id = item.iTeamMasterID })" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i> Edit </a>
                                            
                                                <a href="@Url.Action("ViewTeam", "Home", new { id = item.iTeamMasterID })" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i> View </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#teamTable').DataTable({
            "order": [[2, 'desc']] 
            });
        });
    </script>
}
